*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --aside-width: 280px;
  --header-height: 70px;
}

html,
body,
#root {
  position: relative;
  height: 100%;
  background-color: #f0f3f5;
}

ul,
li {
  list-style: none;
}

.g-text {
  &-logo {
    color: white;
    margin: 0;
  }
  &-invert {
    color: white;
  }
}
