.g-header {
  background-color: #27242a;
  height: var(--header-height);
  padding: 6px 8px;
  width: calc(100% - var(--aside-width));
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  &__nav {
    text-align: right;
  }
}
