@import "global";
@import "aside";
@import "nav";
@import "header";
@import "form";
@import "modified-lib";
@import "modal";

.g-container {
  max-width: 1400px;
  margin: 0 auto;
}

.g-main {
  background-color: #f0f3f5;
  height: calc(100% - var(--header-height));
  width: calc(100% - var(--aside-width));
  position: relative;
  left: var(--aside-width);
  top: var(--header-height);
  padding: 15px 15px 60px;
}

.g-form-group-link {
  margin-left: 1rem;
}
