@import "global";
@import "aside";
@import "nav";

.g-container {
  max-width: 1400px;
  margin: 0 auto;
}

.g-main {
  background-color: #f0f3f5;
  height: 100%;
  width: 100%;
}

.g-header {
  background-color: #27242a;
  height: 70px;
  padding: 10px 0 10px;
  width: calc(100% - 280px);
  position: fixed;
  top: 0;
  right: 0;
}

.g-text {
  &-logo {
    color: white;
    margin: 0;
  }
  &-invert {
    color: white;
  }
}
